<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <form method="GET"></form>
        <h1>Signup</h1>
        <article>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required>
            <br>
        </article>
        <article>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required minlength="8" maxlength="15">
            <br>
        </article>
        <article>
            <label for="verify_password">Verify Password</label>
            <input id="verify_password" type="password" name="verify_password" required minlength="8" maxlength="15">
            <br>
        </article>
        <article>
            <label for="email">Email <em>(optional)</em></label>
            <input id="email" type="text" name="email">
            <br>
        </article>
        <article>
            <input type="submit" value="Submit">
        </article>
    </form>
</body>
</html>