{% extends "base.html" %}

{% block content %}
    <form action="/signup", method='POST'>
        <h1>Signup</h1>
        <article>
            <label for="username">Username: </label>
            <input id='username' type='text' name='username' value="{{username}}"/>
            <p class="error">{{username_error}}</p>
            <br>
        </article>
        <article>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" value="{{password}}"/>
            <p class="error">{{password_error}}</p>
            <br>
        </article>
        <article>
            <label for="verify_password">Verify Password: </label>
            <input id="verify_password" type="password" name="verify_password" value="{{verify_password}}"/>
            <p class="error">{{verify_password_error}}</p>
            <br>
        </article>
        <article>
            <label for="email">Email <em>(optional): </em></label>
            <input id="email" type="text" name="email" value="{{email}}"/>
            <p class="error">{{email_error}}</p>
            <br>
        </article>
        <article>
            <input type="submit" value="Submit"/>
        </article>
    </form>
{% endblock %}